.pink-icon-search,.pink-icon-trashcan,.pink-icon-lollipop,.pink-icon-star,.pink-icon-heart,.pink-icon-umbrella,.pink-icon-flower,.pink-icon-thumbs-up,.pink-icon-thumbs-down,.pink-icon-refresh,.pink-icon-drink,.pink-icon-coffee,.pink-icon-mug,.pink-icon-ice-cream,.pink-icon-cake,.pink-icon-marvin,.pink-icon-pacman,.pink-icon-smiley,.pink-icon-sad,.pink-icon-heart2,.pink-icon-heart3,.pink-icon-cloud-ul,.pink-icon-cloud-dl,.pink-icon-heart4,.pink-icon-pacman2,.pink-icon-star2,.pink-icon-star3,.pink-icon-pipe,.pink-icon-yinyang,.pink-icon-smile,.pink-icon-pokemon,.pink-icon-angrybirds,.pink-icon-fantastico,.pink-icon-concrete5,.pink-icon-cmsmadesimple,.pink-icon-trash,.pink-icon-circleadd,.pink-icon-circledelete,.pink-icon-circleselect,.pink-icon-comment,.pink-icon-comment2,.pink-icon-favorite,.pink-icon-favorite2,.pink-icon-sad2,.pink-icon-blankstare,.pink-icon-laugh,.pink-icon-piggybank,.pink-icon-starempty,.pink-icon-starhalf,.pink-icon-starfull,.pink-icon-lifeempty,.pink-icon-lifehalf,.pink-icon-lifefull,.pink-icon-clock,.pink-icon-minus,.pink-icon-plus,.pink-icon-cancel,.pink-icon-heart5,.pink-icon-edit,.pink-icon-trash2,.pink-icon-search2,.pink-icon-contract,.pink-icon-star4,.pink-icon-out,.pink-icon-in,.pink-icon-feather,.pink-icon-attachment,.pink-icon-heart6,.pink-icon-chat,.pink-icon-moon,.pink-icon-cloud,.pink-icon-heart7,.pink-icon-heart8,.pink-icon-star5,.pink-icon-star6,.pink-icon-heart9,.pink-icon-plus2,.pink-icon-minus2,.pink-icon-cancel2,.pink-icon-checkmark,.pink-icon-cancel3,.pink-icon-star7,.pink-icon-pacman3,.pink-icon-happy,.pink-icon-heart10,.pink-icon-cloud2,.pink-icon-star8,.pink-icon-diamond,.pink-icon-bubble,.pink-icon-news,.pink-icon-like,.pink-icon-fire,.pink-icon-heart11,.pink-icon-star9,.pink-icon-star-empty,.pink-icon-github-alt,.pink-icon-chat-alt-stroke,.pink-icon-at,.pink-icon-info,.pink-icon-question-mark,.pink-icon-moon-stroke,.pink-icon-cloud3,.pink-icon-rain,.pink-icon-download,.pink-icon-upload {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(pink_sprites.png);
	background-repeat: no-repeat;
}
.pink-icon-search {
	background-position: 0 0;
}
.pink-icon-trashcan {
	background-position: -64px 0;
}
.pink-icon-lollipop {
	background-position: -128px 0;
}
.pink-icon-star {
	background-position: -192px 0;
}
.pink-icon-heart {
	background-position: -256px 0;
}
.pink-icon-umbrella {
	background-position: -320px 0;
}
.pink-icon-flower {
	background-position: -384px 0;
}
.pink-icon-thumbs-up {
	background-position: -448px 0;
}
.pink-icon-thumbs-down {
	background-position: -512px 0;
}
.pink-icon-refresh {
	background-position: -576px 0;
}
.pink-icon-drink {
	background-position: -640px 0;
}
.pink-icon-coffee {
	background-position: -704px 0;
}
.pink-icon-mug {
	background-position: -768px 0;
}
.pink-icon-ice-cream {
	background-position: -832px 0;
}
.pink-icon-cake {
	background-position: -896px 0;
}
.pink-icon-marvin {
	background-position: -960px 0;
}
.pink-icon-pacman {
	background-position: 0 -64px;
}
.pink-icon-smiley {
	background-position: -64px -64px;
}
.pink-icon-sad {
	background-position: -128px -64px;
}
.pink-icon-heart2 {
	background-position: -192px -64px;
}
.pink-icon-heart3 {
	background-position: -256px -64px;
}
.pink-icon-cloud-ul {
	background-position: -320px -64px;
}
.pink-icon-cloud-dl {
	background-position: -384px -64px;
}
.pink-icon-heart4 {
	background-position: -448px -64px;
}
.pink-icon-pacman2 {
	background-position: -512px -64px;
	width: 33px;
	height: 33px;
}
.pink-icon-star2 {
	background-position: -576px -64px;
	width: 34px;
	height: 34px;
}
.pink-icon-star3 {
	background-position: -640px -64px;
	width: 34px;
	height: 34px;
}
.pink-icon-pipe {
	background-position: -704px -64px;
}
.pink-icon-yinyang {
	background-position: -768px -64px;
}
.pink-icon-smile {
	background-position: -832px -64px;
}
.pink-icon-pokemon {
	background-position: -896px -64px;
}
.pink-icon-angrybirds {
	background-position: -960px -64px;
}
.pink-icon-fantastico {
	background-position: 0 -128px;
}
.pink-icon-concrete5 {
	background-position: -64px -128px;
}
.pink-icon-cmsmadesimple {
	background-position: -128px -128px;
}
.pink-icon-trash {
	background-position: -192px -128px;
}
.pink-icon-circleadd {
	background-position: -256px -128px;
}
.pink-icon-circledelete {
	background-position: -320px -128px;
}
.pink-icon-circleselect {
	background-position: -384px -128px;
}
.pink-icon-comment {
	background-position: -448px -128px;
}
.pink-icon-comment2 {
	background-position: -512px -128px;
}
.pink-icon-favorite {
	background-position: -576px -128px;
}
.pink-icon-favorite2 {
	background-position: -640px -128px;
}
.pink-icon-sad2 {
	background-position: -704px -128px;
}
.pink-icon-blankstare {
	background-position: -768px -128px;
}
.pink-icon-laugh {
	background-position: -832px -128px;
}
.pink-icon-piggybank {
	background-position: -896px -128px;
}
.pink-icon-starempty {
	background-position: -960px -128px;
}
.pink-icon-starhalf {
	background-position: 0 -192px;
}
.pink-icon-starfull {
	background-position: -64px -192px;
}
.pink-icon-lifeempty {
	background-position: -128px -192px;
}
.pink-icon-lifehalf {
	background-position: -192px -192px;
}
.pink-icon-lifefull {
	background-position: -256px -192px;
}
.pink-icon-clock {
	background-position: -320px -192px;
}
.pink-icon-minus {
	background-position: -384px -192px;
}
.pink-icon-plus {
	background-position: -448px -192px;
}
.pink-icon-cancel {
	background-position: -512px -192px;
	width: 35px;
	height: 35px;
}
.pink-icon-heart5 {
	background-position: -576px -192px;
}
.pink-icon-edit {
	background-position: -640px -192px;
}
.pink-icon-trash2 {
	background-position: -704px -192px;
}
.pink-icon-search2 {
	background-position: -768px -192px;
}
.pink-icon-contract {
	background-position: -832px -192px;
	width: 35px;
	height: 35px;
}
.pink-icon-star4 {
	background-position: -896px -192px;
	width: 35px;
	height: 35px;
}
.pink-icon-out {
	background-position: -960px -192px;
}
.pink-icon-in {
	background-position: 0 -256px;
}
.pink-icon-feather {
	background-position: -64px -256px;
}
.pink-icon-attachment {
	background-position: -128px -256px;
}
.pink-icon-heart6 {
	background-position: -192px -256px;
	width: 33px;
}
.pink-icon-chat {
	background-position: -256px -256px;
}
.pink-icon-moon {
	background-position: -320px -256px;
}
.pink-icon-cloud {
	background-position: -384px -256px;
	width: 36px;
}
.pink-icon-heart7 {
	background-position: -448px -256px;
}
.pink-icon-heart8 {
	background-position: -512px -256px;
}
.pink-icon-star5 {
	background-position: -576px -256px;
}
.pink-icon-star6 {
	background-position: -640px -256px;
}
.pink-icon-heart9 {
	background-position: -704px -256px;
}
.pink-icon-plus2 {
	background-position: -768px -256px;
}
.pink-icon-minus2 {
	background-position: -832px -256px;
}
.pink-icon-cancel2 {
	background-position: -896px -256px;
}
.pink-icon-checkmark {
	background-position: -960px -256px;
}
.pink-icon-cancel3 {
	background-position: 0 -320px;
}
.pink-icon-star7 {
	background-position: -64px -320px;
	width: 35px;
	height: 35px;
}
.pink-icon-pacman3 {
	background-position: -128px -320px;
	width: 35px;
	height: 35px;
}
.pink-icon-happy {
	background-position: -192px -320px;
	width: 35px;
	height: 35px;
}
.pink-icon-heart10 {
	background-position: -256px -320px;
	width: 34px;
}
.pink-icon-cloud2 {
	background-position: -320px -320px;
}
.pink-icon-star8 {
	background-position: -384px -320px;
}
.pink-icon-diamond {
	background-position: -448px -320px;
}
.pink-icon-bubble {
	background-position: -512px -320px;
}
.pink-icon-news {
	background-position: -576px -320px;
}
.pink-icon-like {
	background-position: -640px -320px;
}
.pink-icon-fire {
	background-position: -704px -320px;
}
.pink-icon-heart11 {
	background-position: -768px -320px;
}
.pink-icon-star9 {
	background-position: -832px -320px;
}
.pink-icon-star-empty {
	background-position: -896px -320px;
}
.pink-icon-github-alt {
	background-position: -960px -320px;
}
.pink-icon-chat-alt-stroke {
	background-position: 0 -384px;
}
.pink-icon-at {
	background-position: -64px -384px;
}
.pink-icon-info {
	background-position: -128px -384px;
}
.pink-icon-question-mark {
	background-position: -192px -384px;
	height: 16px;
}
.pink-icon-moon-stroke {
	background-position: -256px -384px;
}
.pink-icon-cloud3 {
	background-position: -320px -384px;
}
.pink-icon-rain {
	background-position: -384px -384px;
}
.pink-icon-download {
	background-position: -448px -384px;
}
.pink-icon-upload {
	background-position: -512px -384px;
}
