/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body{
	background-color: #BDBFC4;
}

.main{
	width: 60%;
	margin: 50px auto 50px auto;
	background-color: #161616;
	font-family: 'Inder', sans-serif;
	border-radius: 15px;
	padding: 20px 10px 50px 10px;
	color: #FFFFFF;
}
input, textarea{
	margin-top: 15px;
	border-radius: 5px;
	padding: 3px;
	border: 2px solid #94EAF1
}
.submit{
	color: #E7F2F3;
	background-color: #47BCCC;
	border: 1px solid #47BCCC;
	padding: 2px 4px 3px 3px;
	font-family: 'Inder', sans-serif;
}
.clear{
	clear: both;
}
.signup{
	text-align: center;
}

form{
	width: 400px;
	margin: 0 auto;
}
form input {
	height: 20px;
	width: 50%;
}
	
.left{
	float: left;
}
.right{
	float: right;
}