// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//pink for sprites #E999DF
@import "sprites";
@import "pink_sprites";

.main-content{
	width: 75%;
	margin: 40px auto 50px auto;
}
.new-post-form{
	.new{
		font-size: 29px;
		text-align: center;
		color: #E7F2F3;
		background-color: #47BCCC;
		cursor: pointer;
		border-radius: 35px;
		width: 50%;
		margin: 35px auto 35px auto;
		padding-bottom: 5px;
		span.icon{
			position: relative;
			top: 7px
		}
	}
	form{
		text-align: right;
		display: none;
		width: 267px;
		margin: 0 auto;
		.error{
			color: red;
			font-size: 12px;
		}
		textarea{
			width: 96%;
		}
		input{
			height: 20px;
			&.red{
				border: 1px solid red;
			}
			&#new_post_url, &#new_post_title{
				width: 96%;
			}
		}
	}
}



.post{
	text-align: center;
	div.comment-links, p{
		text-align: left;
	}
	h2, h3{
		text-align: right;
	}
	h3{
		font-size: 15px;
		font-weight: 400;
	}
	.time{
		margin-left: 5px;
		font-size: 12px;
		font-weight: normal;
	}
	img{
		max-width: 100%;
		border: 1px solid white;
	}
	.caption{
		color: white;
		font-style: italic;
		font-size: 16px;
		margin-top: 0px;
		text-align: center;
	}
	.comment{
		background-color: #FFF;
		border-radius: 10px;
		padding: 10px;
		margin: 10px 0px;
		color: black
	}
	.comments{
		margin-top: 30px
	}
	.comment-links{
		margin-top: 40px;
		span{
			display: inline-block
		}
		.text{
			text-decoration: underline
		}
		.icon{
			position: relative;
			top: 8px;
			margin-right: 6px;
		}
		a{
			color: white;
			font-size: 20px;
		}
		a:hover{
			color: #99E3E9;
		}
	}
}

h1{
	text-align: center;
	font-family: 'Josefin Slab', serif;
	font-size: 45px;
	margin-bottom: 5px;
}




