<!DOCTYPE html>
<html>
<head>
  <title>Photoflow</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Inder|Josefin+Slab:400,600' rel='stylesheet' type='text/css'>  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
